@page
@model IndexModel
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Containerized Web Application</title>
</head>
<body>
    <h2>Web Service</h2>

    <p><b>Time:</b> @Model.CurrentTime</p>
    <p><b>Hostname:</b> @Model.Hostname</p>
    <p><b>Counter:</b> @Model.Counter</p>
    <p><b>Message:</b> @Model.Message</p>
</body>
</html>
